<div style='color: #216969;
           background-color: #EAF6F6;
           font-size: 200%;
           border-radius:15px;
           text-align:center;
           font-weight:600;
           border-style: solid;
           border-color: dark green;
           font-family: "Cambria";'>
Data Encoding  (1)....
<a class="anchor" id="1"></a>

<img src="https://www.genome.gov/sites/default/files/media/images/2019-03/2.4.8.6.6.4_ENCODE.jpg" width=400></img>

- Encoding Stregies

In [ ]:
# Data loading 
import pandas as pd
# read_csv(..., nrows=999999)
df= pd.read_csv("../data/HousePrice3.csv", index_col=0)

In [3]:
df.head(10)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,MiscVal,YrSold,SaleType,SaleCondition,SalePrice,TotalSF,TotalPorchSF,TotalBath,SnMoSold,CsMoSold
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,2008,WD,Normal,208500,2566,61,3.5,8.660254e-01,5.000000e-01
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,2007,WD,Normal,181500,2524,0,2.5,5.000000e-01,-8.660254e-01
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,2008,WD,Normal,223500,2706,42,3.5,-1.000000e+00,-1.836970e-16
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,2006,WD,Abnorml,140000,2473,307,2.0,8.660254e-01,5.000000e-01
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,2008,WD,Normal,250000,3343,84,3.5,-2.449294e-16,1.000000e+00
5,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,...,700,2009,WD,Normal,143000,2158,350,2.5,-8.660254e-01,5.000000e-01
6,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,2007,WD,Normal,307000,3380,57,3.0,-8.660254e-01,-5.000000e-01
7,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,...,350,2009,WD,Normal,200000,3197,432,3.5,-5.000000e-01,8.660254e-01
8,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,2008,WD,Abnorml,129900,2726,205,2.0,8.660254e-01,-5.000000e-01
9,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,2008,WD,Normal,118000,2068,4,2.0,5.000000e-01,8.660254e-01

![](../imgs/featureEngin.png)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1455 entries, 0 to 1459
Data columns (total 74 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MSSubClass      1455 non-null   int64
 1   MSZoning        1455 non-null   object
 2   LotFrontage     1197 non-null   float64
 3   LotArea         1455 non-null   int64
 4   Street          1455 non-null   object
 5   Alley           91 non-null     object
 6   LotShape        1455 non-null   object
 7   LandContour     1455 non-null   object
 8   Utilities       1455 non-null   object
 9   LotConfig       1455 non-null   object
 10  LandSlope       1455 non-null   object
 11  Neighborhood    1455 non-null   object
 12  Condition1      1455 non-null   object
 13  Condition2      1455 non-null   object
 14  BldgType        1455 non-null   object
 15  HouseStyle_Enc  1334 non-null   float64
 16  HouseStyle      1455 non-null   object
 17  OverallQual     1455 non-null   int64
 18  OverallCond     1455 non-null   int64
 19  YearBuilt       1455 non-null   int64
 20  YearRemodAdd    1455 non-null   int64
 21  RoofStyle       1455 non-null   object
 22  RoofMatl        1455 non-null   object
 23  Exterior1st     1455 non-null   object
 24  Exterior2nd     1455 non-null   object
 25  MasVnrType      584 non-null    object
 26  MasVnrArea      1447 non-null   float64
 27  ExterQual       1455 non-null   object
 28  ExterCond       1455 non-null   object
 29  Foundation      1455 non-null   object
 30  BsmtQual        1418 non-null   object
 31  BsmtCond        1418 non-null   object
 32  BsmtExposure    1417 non-null   object
 33  BsmtFinType1    1418 non-null   object
 34  BsmtFinSF1      1455 non-null   int64
 35  BsmtFinType2    1417 non-null   object
 36  BsmtFinSF2      1455 non-null   int64
 37  BsmtUnfSF       1455 non-null   int64
 38  Heating         1455 non-null   object
 39  HeatingQC       1455 non-null   object
 40  CentralAir      1455 non-null   object
 41  Electrical      1454 non-null   object
 42  1stFlrSF        1455 non-null   int64
 43  2ndFlrSF        1455 non-null   int64
 44  LowQualFinSF    1455 non-null   int64
 45  BedroomAbvGr    1455 non-null   int64
 46  KitchenAbvGr    1455 non-null   int64
 47  KitchenQual     1455 non-null   object
 48  TotRmsAbvGrd    1455 non-null   int64
 49  Functional      1455 non-null   object
 50  Fireplaces      1455 non-null   int64
 51  FireplaceQu     766 non-null    object
 52  GarageType      1374 non-null   object
 53  GarageFinish    1374 non-null   object
 54  GarageArea      1455 non-null   int64
 55  GarageQual      1374 non-null   object
 56  GarageCond      1374 non-null   object
 57  PavedDrive      1455 non-null   object
 58  WoodDeckSF      1455 non-null   int64
 59  PoolArea        1455 non-null   int64
 60  PoolQC          6 non-null      object
 61  Fence           281 non-null    object
 62  MiscFeature     53 non-null     object
 63  MiscVal         1455 non-null   int64
 64  YrSold          1455 non-null   int64
 65  SaleType        1455 non-null   object
 66  SaleCondition   1455 non-null   object
 67  SalePrice       1455 non-null   int64
 68  TotalSF         1455 non-null   int64
 69  TotalPorchSF    1455 non-null   int64
 70  TotalBath       1455 non-null   float64
 71  SnMoSold        1455 non-null   float64
 72  CsMoSold        1455 non-null   float64
 73  HouseSyle_Enc   1455 non-null   int64
dtypes: float64(6), int64(25), object(43)
memory usage: 852.5+ KB

![](https://image.flaticon.com/icons/png/128/3079/3079166.png)

In [4]:
df.HouseStyle.describe()

count       1455
unique         8
top       1Story
freq         722
Name: HouseStyle, dtype: object

In [5]:
df.HouseStyle.unique()

array(['2Story', '1Story', '1.5Fin', '1.5Unf', 'SFoyer', 'SLvl', '2.5Unf',
       '2.5Fin'], dtype=object)

In [6]:
df['HouseStyle'].replace({'2Story':0, '1Story':1 ,  '1.5Fin':2, '1.5Unf':3})

0       0
1       1
2       0
3       0
4       0
       ..
1455    0
1456    1
1457    0
1458    1
1459    1
Name: HouseStyle, Length: 1455, dtype: object

In [7]:
df.columns.get_loc("HouseStyle")

15

#### Feature mapping

In [8]:
df.insert(df.columns.get_loc("HouseStyle"),"HouseStyle_Enc" ,  df['HouseStyle'].map({'2Story':0, '1Story':1 ,  '1.5Fin':2, '1.5Unf':3}))

In [11]:
df.iloc[: , 10:19]

,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle_Enc,HouseStyle,OverallQual,OverallCond
0,Gtl,CollgCr,Norm,Norm,1Fam,0.0,2Story,7,5
1,Gtl,Veenker,Feedr,Norm,1Fam,1.0,1Story,6,8
2,Gtl,CollgCr,Norm,Norm,1Fam,0.0,2Story,7,5
3,Gtl,Crawfor,Norm,Norm,1Fam,0.0,2Story,7,5
4,Gtl,NoRidge,Norm,Norm,1Fam,0.0,2Story,8,5
...,...,...,...,...,...,...,...,...,...
1455,Gtl,Gilbert,Norm,Norm,1Fam,0.0,2Story,6,5
1456,Gtl,NWAmes,Norm,Norm,1Fam,1.0,1Story,6,6
1457,Gtl,Crawfor,Norm,Norm,1Fam,0.0,2Story,7,9
1458,Gtl,NAmes,Norm,Norm,1Fam,1.0,1Story,5,6
1459,Gtl,Edwards,Norm,Norm,1Fam,1.0,1Story,5,6

In [12]:
df.drop("HouseStyle_Enc", axis=1, inplace=True)

In [13]:
df.iloc[: , 10:19]

,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt
0,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003
1,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976
2,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001
3,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915
4,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000
...,...,...,...,...,...,...,...,...,...
1455,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,5,1999
1456,Gtl,NWAmes,Norm,Norm,1Fam,1Story,6,6,1978
1457,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,9,1941
1458,Gtl,NAmes,Norm,Norm,1Fam,1Story,5,6,1950
1459,Gtl,Edwards,Norm,Norm,1Fam,1Story,5,6,1965

#### df.map

In [14]:
df.columns.get_loc("HouseStyle")

15

In [15]:
loc= df.columns.get_loc("HouseStyle")
enc= {'2Story':0, '1Story':1 ,  '1.5Fin':2, '1.5Unf':3}
df.insert(loc,"HouseStyle_Enc",  df.HouseStyle.map(enc))

In [17]:
df.iloc[: , 10:19]

,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle_Enc,HouseStyle,OverallQual,OverallCond
0,Gtl,CollgCr,Norm,Norm,1Fam,0.0,2Story,7,5
1,Gtl,Veenker,Feedr,Norm,1Fam,1.0,1Story,6,8
2,Gtl,CollgCr,Norm,Norm,1Fam,0.0,2Story,7,5
3,Gtl,Crawfor,Norm,Norm,1Fam,0.0,2Story,7,5
4,Gtl,NoRidge,Norm,Norm,1Fam,0.0,2Story,8,5
...,...,...,...,...,...,...,...,...,...
1455,Gtl,Gilbert,Norm,Norm,1Fam,0.0,2Story,6,5
1456,Gtl,NWAmes,Norm,Norm,1Fam,1.0,1Story,6,6
1457,Gtl,Crawfor,Norm,Norm,1Fam,0.0,2Story,7,9
1458,Gtl,NAmes,Norm,Norm,1Fam,1.0,1Story,5,6
1459,Gtl,Edwards,Norm,Norm,1Fam,1.0,1Story,5,6

#### LabelEncoder

In [18]:
# Nan لابد من التاكد من خلو الخاصيو من قيم  غير مجهولة 
df.HouseStyle.isna().sum()
# في حالة تواجد قيم مجهولة  فلابد من معالجتها وذلك نم خلال استبدالها

np.int64(0)

In [19]:
df[["HouseStyle", "HouseStyle_Enc"]].head(3)

  HouseStyle  HouseStyle_Enc
0     2Story             0.0
1     1Story             1.0
2     2Story             0.0

In [20]:
# labelEncoder       سيتم الاستغناء هنا عن ترميز البيانات يدويا
from sklearn.preprocessing import LabelEncoder
lblEnc=LabelEncoder()
df["HouseSyle_Enc"]=lblEnc.fit_transform(df.HouseStyle)
df[["HouseStyle", "HouseStyle_Enc"]].head(3)

  HouseStyle  HouseStyle_Enc
0     2Story             0.0
1     1Story             1.0
2     2Story             0.0

In [22]:
lblEnc.inverse_transform([0,1,2])

array(['1.5Fin', '1.5Unf', '1Story'], dtype=object)

In [23]:
# يمكن ترميز العديد  من الخصائص بنفس الطريقة 
# وبطبيعة الحال لاستغناء عن البيانات النصية ومعالجتها فيما بعد يخوارزمية ملائمة
df[["HouseStyle", "LotConfig"]].head(10)

  HouseStyle LotConfig
0     2Story    Inside
1     1Story       FR2
2     2Story    Inside
3     2Story    Corner
4     2Story       FR2
5     1.5Fin    Inside
6     1Story    Inside
7     2Story    Corner
8     1.5Fin    Inside
9     1.5Unf    Corner

In [25]:
for col in ["HouseStyle", "LotConfig"]:
  lblEnc=LabelEncoder()
  df[col]=lblEnc.fit_transform(df[col])

In [26]:
df[["HouseStyle", "LotConfig"]].head(10)

   HouseStyle  LotConfig
0           5          4
1           2          2
2           5          4
3           5          0
4           5          2
5           0          4
6           2          4
7           5          0
8           0          4
9           1          0