<div style='color: #216969;
           background-color: #EAF6F6;
           font-size: 200%;
           border-radius:15px;
           text-align:center;
           font-weight:600;
           border-style: solid;
           border-color: dark green;
           font-family: "Cambria";'>
Data Loading (xlsx) ....
<a class="anchor" id="1"></a>

![](https://i.ibb.co/YhR9BFd/dataset.png)


| |<font size="5">LinearRegression الانحدار الخطي البسيط    </font>|
|-:|-|
||![](https://i.ibb.co/YhR9BFd/dataset.png)| 
|<font size="3"> Train, Test  تحديد بيانات التدريب والاختبار </font>| 
|<font size="3">PipeLine  انشاء بنية معالجة متسلسلة للبيانات  </font>| 
|<font size="3"> تحديد خوارزميات المعالجة </font>| 
|<font size="3"> training   تدريب البيانات </font>| 
|<font size="3"> Metrics   تقمويم أداء الخوارزمية </font>| 
|<font size="3"> </font>|

In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [13]:
# Import pandas
import pandas as pd

# 1. Loading an Excel (.xlsx) file
df = pd.read_excel('../data/StudentPerformanceFactors.xlsx', header=1)

In [14]:
# # Optional parameters you can add:
# excel_df = pd.read_excel(
#     '../data/StudentPerformanceFactors.xlsx',
#     sheet_name='Sheet1',  # Specify sheet name or number (default is 0)
#     header=0,            # Row number to use as column names (default is 0)
#     usecols=['A', 'B']   # Specify which columns to load
# )

In [15]:
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

![](../imgs/featureEngin.png)

In [18]:
# حجم مصفوفة البيالنات 
df.shape

(6607, 20)

[Descriprion البيانات التوصيف ](https://bit.ly/3ekDYlG)

In [19]:
# نبذة عن طبيعة البيانات 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [20]:
#Features  قائمة المتغيرات  
list(df)

['Hours_Studied',
 'Attendance',
 'Parental_Involvement',
 'Access_to_Resources',
 'Extracurricular_Activities',
 'Sleep_Hours',
 'Previous_Scores',
 'Motivation_Level',
 'Internet_Access',
 'Tutoring_Sessions',
 'Family_Income',
 'Teacher_Quality',
 'School_Type',
 'Peer_Influence',
 'Physical_Activity',
 'Learning_Disabilities',
 'Parental_Education_Level',
 'Distance_from_Home',
 'Gender',
 'Exam_Score']

In [21]:
#   احصائيات اولية  للمتغير الهدف 
df[["Exam_Score"]].describe().T
# نلاحظ انه لاتوجد قيم ناقصة

             count       mean       std   min   25%   50%   75%    max
Exam_Score  6607.0  67.235659  3.890456  55.0  65.0  67.0  69.0  101.0

In [22]:
# تباين المتغيرات
df.select_dtypes(include="number").var().sort_values()
# القيم الدنيا لتباين المتغيرات تشير إلى قلة مساهمة المتغير في التنبؤ
# ( low vraince , so they do not contribute alot in the prediction )

Physical_Activity      1.063438
Tutoring_Sessions      1.514304
Sleep_Hours            2.155377
Exam_Score            15.135646
Hours_Studied         35.887221
Attendance           133.344178
Previous_Scores      207.353789
dtype: float64