<div style='color: #216969;
           background-color: #EAF6F6;
           font-size: 200%;
           border-radius:15px;
           text-align:center;
           font-weight:600;
           border-style: solid;
           border-color: dark green;
           font-family: "Cambria";'>
Data Loading ....
<a class="anchor" id="1"></a>


| |<font size="5">LinearRegression الانحدار الخطي البسيط    </font>|
|-:|-|
||![](https://i.ibb.co/YhR9BFd/dataset.png)| 
|<font size="3"> Train, Test  تحديد بيانات التدريب والاختبار </font>| 
|<font size="3">PipeLine  انشاء بنية معالجة متسلسلة للبيانات  </font>| 
|<font size="3"> تحديد خوارزميات المعالجة </font>| 
|<font size="3"> training   تدريب البيانات </font>| 
|<font size="3"> Metrics   تقمويم أداء الخوارزمية </font>| 
|<font size="3"> </font>|

In [2]:
import pandas as pd
df= pd.read_csv("../data/StudentsPerformance.csv")

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
# حفظ البيانات
df.to_csv("../data/HousePrice.csv")

![](../imgs/featureEngin.png)

In [4]:
# حجم مصفوفة البيالنات 
df.shape

(1000, 8)

[Descriprion البيانات التوصيف ](https://bit.ly/3ekDYlG)

In [6]:
# نبذة عن طبيعة البيانات 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
#Features  قائمة المتغيرات  
list(df)

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [15]:
#   احصائيات اولية  للمتغير الهدف 
df[["SalePrice"]].describe().T
# نلاحظ انه لاتوجد قيم ناقصة

,count,mean,std,min,25%,50%,75%,max
SalePrice,1460.0,180921.19589,79442.502883,34900.0,129975.0,163000.0,214000.0,755000.0

In [8]:
# تباين المتغيرات
df.select_dtypes(include="number").var().sort_values()
# القيم الدنيا لتباين المتغيرات تشير إلى قلة مساهمة المتغير في التنبؤ
# ( low vraince , so they do not contribute alot in the prediction )

reading score    213.165605
math score       229.918998
writing score    230.907992
dtype: float64

In [9]:
df["writing score"].describe()

count    1000.000000
mean       68.054000
std        15.195657
min        10.000000
25%        57.750000
50%        69.000000
75%        79.000000
max       100.000000
Name: writing score, dtype: float64

In [10]:
df.describe().T

                count    mean        std   min    25%   50%   75%    max
math score     1000.0  66.089  15.163080   0.0  57.00  66.0  77.0  100.0
reading score  1000.0  69.169  14.600192  17.0  59.00  70.0  79.0  100.0
writing score  1000.0  68.054  15.195657  10.0  57.75  69.0  79.0  100.0