### 1.Load the dataset into the pandas data frame. To do so, you first need to import the pandas library, and then, use the function pd.read_csv(), as shown below:

In [5]:
pwd

'/workspaces/Data-Science-with-Python-master/Chapter01/Excercises'

In [8]:
ls ../data/

Mkt_Banking.csv  house_price.csv  house_usa.csv

### I) Load datset

In [ ]:
# Dataset Loading 
import pandas as pd
df = pd.read_csv("../data/Mkt_Banking.csv", index_col=[0])

### 2.get dataframe  information

In [12]:
# display infromation related to each feature 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41199 entries, 0 to 41198
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41197 non-null  float64
 1   job             41199 non-null  object
 2   marital         41199 non-null  object
 3   education       41199 non-null  object
 4   default         41199 non-null  object
 5   housing         41199 non-null  object
 6   loan            41199 non-null  object
 7   contact         41193 non-null  object
 8   month           41199 non-null  object
 9   day_of_week     41199 non-null  object
 10  duration        41192 non-null  float64
 11  campaign        41199 non-null  int64
 12  pdays           41199 non-null  int64
 13  previous        41199 non-null  int64
 14  poutcome        41199 non-null  object
 15  emp_var_rate    41199 non-null  float64
 16  cons_price_idx  41199 non-null  float64
 17  cons_conf_idx   41199 non-null  float64
 18  euribor3m       41199 non-null  float64
 19  nr_employed     41199 non-null  float64
 20  y               41199 non-null  int64
dtypes: float64(7), int64(4), object(10)
memory usage: 6.9+ MB

### II) detect missing values

In [13]:
df.isna().sum()

age               2
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           6
month             0
day_of_week       0
duration          7
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

### II) dropping all rows having missing values

In [14]:
#   drop all  missing value's rows 
df.dropna( inplace=True )

In [15]:
# check  dataframe again 
df.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64